<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>
    
    <typeAliases>
        <typeAlias alias="userDto" type="com.myhome.myboard.dto.UserDto"/>
        <typeAlias alias="boardDto" type="com.myhome.myboard.dto.BoardDto"/>
        <typeAlias alias="memoDto" type="com.myhome.myboard.dto.MemoDto"/>
    </typeAliases>
    
</configuration>